<div id="FilenameDiv">{{OpenFileName}}</div>
<div style="height:5%">
  <nav>
    <ul>
      <li style="font-family:Brush Script MT; font-weight: bold;"> T-TOYS </li>
      <li><button *ngIf="isLoggedIn && file_opened" mat-raised-button (click)="new_file()">New Code</button></li>
      <li><button *ngIf="isLoggedIn && file_opened" mat-raised-button (click)="save()">Save</button></li>
      <li><button *ngIf="isLoggedIn" mat-raised-button (click)="openSaveModal()">SaveAs</button></li>
      <li><button mat-raised-button *ngIf="isLoggedIn" (click)="openFileOpenModal()">Open</button></li>
      <li><button mat-raised-button (click)="compile_and_upload(template)" id="UploadButton">Upload code</button></li>
      <li><button mat-raised-button (click)="upload_default(template)" id="UploadOButton">Upload Original code</button></li>
      <li><button mat-raised-button [routerLink]="['/cruise']">Car Control</button></li>
      <li><a routerLink="/sign-in" *ngIf="!isLoggedIn">SignIn</a></li>
      <li><a routerLink="/register" *ngIf="!isLoggedIn">Register</a></li>
      <li><button mat-raised-button color="warn" (click)="sign_out()" *ngIf="isLoggedIn">SignOut</button></li>
    </ul>
  </nav>
</div>

<ng-template #template>
  <div>
    {{message}}
    <img src="assets\load.gif" *ngIf="loading_gif"  width="50" height="50">
    <br><br>
    <button *ngIf="acknowledgeButton" mat-raised-button (click)="closeErrorMessageModal()">Ok</button>
  </div>
</ng-template>



<!--      <li>-->
<!--        <select name="Toys" style="border:0px;">-->
<!--          <option value="Smart car"><a href="#">Toys</a></option>-->
<!--          <option value="Smart car"><a href="#">Car</a></option>-->
<!--          <option value="Smart Quad"><a href="#">Quad</a></option>-->
<!--        </select>-->
<!--      </li>-->

<!--      <li ngbDropdown class="nav-item">-->
<!--        <a href (click)="false" class="nav-link" ngbDropdownToggle>Toy</a>-->
<!--        <div ngbDropdownMenu>-->
<!--          <button ngbDropdownItem>Car</button>-->
<!--          <button ngbDropdownItem>Home</button>-->
<!--          <button ngbDropdownItem>Tank</button>-->
<!--        </div>-->
<!--      </li>-->

