#saveDiv {
    height: 40%;
    width: 40%;
    position: absolute;
    bottom: 50%;
    border-style: solid;
}

.border {
   border: 3px solid black;
   padding: 10px;
}


input[type=text] {
  width: 25%;
  padding: 12px 20px;
  box-sizing: border-box;
}

button{
  width: 50%;
  padding: 8px 14px;
  box-sizing: border-box;
  cursor: pointer;
}

form{
    margin: auto;
    width: 60%;
    text-align: center;
}
