<!--<p><a style="text-decoration: none;" routerLink=""><-&#45;&#45; back to code area</a></p>-->

<!--<p>file-open works!</p>-->
<div *ngIf="!Openfile">
<h2 mat-dialog-title>Open</h2>
<mat-selection-list #files [multiple]="false">
  <mat-list-option *ngFor="let file of listOfFiles" [value]="file">
    {{file}}
  </mat-list-option>
</mat-selection-list>
<button class="mat-raised-button"(click)="close()">Close</button>
<button class="mat-raised-button mat-primary"(click)="open_file_cloud(files.selectedOptions.selected[0]?.value)">Open</button>
<p *ngIf="fileNotSelected" class="alert alert-danger">
  Please select a File!
</p>
</div>

<p *ngIf="Openfile" class="alert alert-success">
  Opening File....
</p>
