/* You can add global styles to this file, and also import other style files */


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-display: swap;
  font-family: digitBold;
  src: url('assets/fonts/RadioLand.ttf');
}
@font-face {
  font-display: swap;
  font-family: digitalPlayBold;
  src: url('assets/fonts/digital-play-st/Digital_Play_St.ttf');
}
@font-face {
  font-display: swap;
  font-family: frozen-crystal;
  src: url('assets/fonts/frozen-crystal/frozencrystal.ttf');
}
